parameters:
    level: max
    paths:
        - src
        - tests

    excludePaths:
        - %currentWorkingDirectory%/var/*
        - %currentWorkingDirectory%/vendor/*

    #ignoreErrors:
    #    - '#Service "App\\Tests\\.*" is not found in the container.#'
