{% extends 'base.html.twig' %}

{% block title %}Just Focus
{% endblock %}

{% block body %}
	<div class="breadcumb-wrapper">
		<div class="container">
			<ul class="breadcumb-menu">
				<li>
					<a href="home-newspaper.html">Home</a>
				</li>
				<li>About Us</li>
			</ul>
		</div>
	</div>

	<div class="space2" id="about-sec">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-12 mb-30 mb-xl-0">
					<h2>Privacy Policy</h2>
					<p>This privacy policy defines and informs you of how JUST FOCUS uses and protects the information you may transmit to us when using this website accessible from the following URL: https://www.justfocus.fr (hereinafter referred to as the "Site"). Please note that this privacy policy may be modified or supplemented at any time by JUST FOCUS, particularly in order to comply with any legislative, regulatory, jurisprudential, or technological changes. In such cases, the date of its update will be clearly identified at the top of this policy. These modifications are binding on the User upon their online publication. It is therefore recommended that the User regularly consults this privacy and cookie policy to be aware of any changes.</p>

					<h2>Personal data</h2>
					<p>Generally, you can visit the JUST FOCUS Site without providing any personal information about yourself. In any event, you are not in any way obligated to transmit this information to JUST FOCUS. However, in case of refusal, you may not be able to benefit from certain information or services you have requested. Indeed, JUST FOCUS may, in certain cases, ask you to provide your name, first name, email address, phone number, company, and position (hereinafter referred to as your "Personal Information"). By providing this information, you expressly agree that it will be processed by JUST FOCUS for the purposes indicated in point 2 below and for the purposes reminded at the end of each form.</p>
					<p>In accordance with the General Data Protection Regulation (GDPR) adopted by the European Parliament on April 14, 2016, and the French Data Protection Act of January 6, 1978, as amended, JUST FOCUS informs you of the following:</p>
					<h2>1. Identity of the Data Controller</h2>
					<p>The data controller is Association Tito bulle Siret n° 80042536500015, 3 Rue Adam 94210 Saint-Maur-des-Fossés France. Contact person: David Duchêne, david.duchene@titobulle.com, 06 09 98 63 61</p>

					<h2>2. Purpose of Data Processing</h2>
					<p>JUST FOCUS may process your Personal Information to:</p>
					<ul>
						<li>Provide you with the information or services you have requested (including sending the Newsletter, commercial offers, books); and/or</li>
						<li>Collect information allowing us to improve our Site, products, and services (notably through cookies); and/or</li>
						<li>Contact you about various events related to JUST FOCUS, including but not limited to events organized by the association.</li>
					</ul>

					<h2>3. Recipients</h2>
					<p>Only JUST FOCUS is the recipient of your Personal Information. Whether in individual or aggregated form, this information is never transmitted to a third party, notwithstanding the subcontractors JUST FOCUS uses (more information on this can be found in point 7 below). Neither JUST FOCUS nor any of its subcontractors engage in the commercialization of the personal data of visitors and Users of its Site.</p>

					<h2>4. Data Retention Period</h2>
					<p>Your Personal Information is kept by JUST FOCUS only for the time corresponding to the purpose of the collection as indicated in 2 above, which in any case does not exceed 36 months.</p>

					<h2>5. Data Protection Rights</h2>
					<p>You have the following rights regarding your Personal Information, which you can exercise by writing to the postal address mentioned in point 1.</p>
					<h2>Right of Access and Communication of Data</h2>
					<p>You have the right to access your Personal Information. However, due to JUST FOCUS's obligation to ensure security and confidentiality in the processing of personal data, you are informed that your request will be processed provided you can prove your identity, notably by providing a scan of your valid identity document (in case of a request via our dedicated electronic form) or a signed photocopy of your valid identity document (in case of a written request).</p>
					<p>JUST FOCUS informs you that it may, where applicable, oppose manifestly abusive requests (due to their number, repetitive or systematic nature). To help you in your approach, especially if you wish to exercise your right of access through a written request to the postal address mentioned in point 1, you will find by clicking on the following link a model letter developed by the French Data Protection Authority (CNIL).
						<a href="https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces">CNIL Model Letter</a>
					</p>

					<h2>Right to Rectification of Data</h2>
					<p>Under this right, the legislation allows you to request the rectification, updating, blocking, or deletion of data concerning you that may prove inaccurate, erroneous, incomplete, or obsolete.</p>
					<p>You can also set general and specific directives regarding the fate of your personal data after your death. If applicable, the heirs of a deceased person can require consideration of the death of their relative and/or make the necessary updates. To help you in your approach, especially if you wish to exercise your right of rectification on your behalf or on behalf of a deceased relative, through a written request to the postal address mentioned in point 1, you will find by clicking on the following link a model letter developed by the CNIL.
						<a href="https://www.cnil.fr/fr/modele/courrier/rectifier-des-donnees-inexactes-obsoletesou-perimees">CNIL Model Letter for Rectification</a>
					</p>

					<h2>Right to Object</h2>
					<p>The exercise of this right is only possible in one of the following situations:</p>
					<ul>
						<li>When the exercise of this right is based on legitimate grounds; or</li>
						<li>When the exercise of this right aims to prevent the data collected from being used for commercial prospecting purposes.</li>
					</ul>
					<p>To help you in your approach, especially if you wish to exercise your right to object through a written request to the postal address indicated in point 1, you will find by clicking on the following link a model letter developed by the CNIL.
						<a href="https://www.cnil.fr/fr/modele/courrier/supprimer-des-informations-vousconcernant-dun-site-internet">CNIL Model Letter for Objection</a>
					</p>

					<h2>6. Response Time</h2>
					<p>JUST FOCUS commits to respond to your request for access, rectification, or objection or any other additional request for information within a reasonable timeframe, which cannot exceed 3 months from the receipt of your request.</p>

					<h2>7. Authorized Service Providers and Transfer to a Non-EU Country</h2>
					<p>JUST FOCUS informs you that it does not use providers located outside the European Union.</p>

					<h2>8. Complaint to the Competent Authority</h2>
					<p>If you believe that JUST FOCUS is not fulfilling its obligations concerning your Personal Information, you can submit a complaint or request to the competent authority. In France, the competent authority is the CNIL, to which you can send a request electronically by clicking on the following link:
						<a href="https://www.cnil.fr/fr/plaintes/internet">CNIL Complaints</a>.</p>

					<h2>II. COOKIE POLICY</h2>
					<p>When you first connect to the JUST FOCUS website, you are warned by a banner at the bottom of your screen that information relating to your navigation may be recorded in files called "cookies". Our cookie usage policy allows you to better understand the provisions we implement regarding navigation on our website. It informs you in particular about all the cookies present on our website, their purpose (part I.) and guides you on how to set them up (part II.).</p>

					<h2>1. General Information on the Cookies Present on the JUST FOCUS Website</h2>
					<p>JUST FOCUS, as the publisher of this website, may place a cookie on the hard drive of your device (computer, tablet, mobile, etc.) to ensure smooth and optimal navigation on our website.</p>
					<p>Cookies (or connection trackers) are small text files of limited size that allow us to recognize your computer, tablet, or mobile device to personalize the services we offer you. The information collected through cookies in no way allows us to identify you personally. They are used exclusively for our own needs to improve the interactivity and performance of our website and to send you content tailored to your interests. None of this information is disclosed to third parties except when JUST FOCUS has obtained your prior consent or when the disclosure of such information is required by law, by court order, or any competent administrative or judicial authority.</p>
					<p>To better inform you about the information that cookies identify, you will find below a table listing the different types of cookies that may be used on the JUST FOCUS website, their name, purpose, and retention period.</p>

					<h2>2. Configuring Your Cookie Preferences</h2>
					<p>You can accept or refuse the placement of cookies at any time. When you first connect to the JUST FOCUS website, a banner briefly presenting information about the placement of cookies and similar technologies appears at the bottom of your screen. This banner warns you that by continuing your navigation on the JUST FOCUS website (by loading a new page or clicking on various elements of the site, for example), you accept the placement of cookies on your device. You are also considered to have given your consent to the placement of cookies by clicking on the "X" icon on the right of the banner at the bottom of your screen. Depending on the type of cookie in question, the collection of your consent to the placement and reading of cookies on your device may be mandatory.</p>

					<h2>a. Cookies Exempt from Consent</h2>
					<p>In accordance with the recommendations of the French Data Protection Authority (CNIL), certain cookies are exempt from prior collection of your consent as they are strictly necessary for the operation of the website or have the sole purpose of enabling or facilitating electronic communication. These include session ID cookies, authentication cookies, load balancing session cookies, as well as interface customization cookies. These cookies are fully subject to this policy as they are issued and managed by JUST FOCUS.</p>

					<h2>b. Cookies Requiring Prior Consent</h2>
					<p>This requirement applies to cookies issued by third parties that are classified as "persistent" since they remain on your device until they are deleted or expire. These cookies, issued by third parties, are subject to their own privacy policies, which you will find a link to below. This category includes audience measurement cookies, advertising cookies, and social network sharing cookies.</p>
					<p>Audience measurement cookies establish statistics concerning the frequentation and use of various elements of the website (such as the content/pages you have visited). These data help to improve the ergonomics of the JUST FOCUS website. An audience measurement tool is used on this website: Google Analytics, whose privacy policy is available (only in English) at the following link:
						<a href="https://www.google.com/analytics/learn/privacy.html?hl=fr">Google Analytics Privacy Policy</a>.</p>

					<h2>c. You Have Various Tools for Setting Cookies</h2>
					<p>Most Internet browsers are configured by default to allow the placement of cookies. Your browser offers you the opportunity to modify these standard settings so that all cookies are rejected systematically or so that only part of the cookies are accepted or refused depending on their issuer. WARNING: We draw your attention to the fact that refusing the placement of cookies on your device may alter your user experience as well as your access to certain services or functionalities of this website. If applicable, JUST FOCUS declines all responsibility for the consequences related to the degraded browsing conditions that occur due to your choice to refuse, delete or block the cookies necessary for the functioning of the site. These consequences cannot constitute damage and you cannot claim any compensation as a result.</p>
					<p>Your browser also allows you to delete existing cookies on your device or notify you when new cookies are likely to be placed on your device. These settings do not affect your browsing experience but cause you to lose the benefit provided by the cookie.</p>
					<p>Please find below the various tools available to help you configure the cookies placed on your device.</p>

					<h2>d. Configuring Your Internet Browser</h2>
					<p>Each Internet browser offers its own settings for managing cookies. To find out how to change your cookie preferences, you can find the help necessary to access your browser's cookie management menu below:</p>
					<ul>
						<li>Chrome:
							<a href="https://support.google.com/chrome/answer/95647?hl=fr">Chrome Cookie Settings</a>
						</li>
						<li>Firefox:
							<a href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies">Firefox Cookie Settings</a>
						</li>
						<li>Internet Explorer:
							<a href="https://support.microsoft.com/fr-fr/help/17442/windowsinternet-explorer-delete-manage-cookies#ie=ie-11">Internet Explorer Cookie Settings</a>
						</li>
						<li>Opera:
							<a href="http://help.opera.com/Windows/10.20/fr/cookies.html">Opera Cookie Settings</a>
						</li>
						<li>Safari:
							<a href="https://support.apple.com/kb/PH21411?viewlocale=fr_FR&locale=fr_FR">Safari Cookie Settings</a>
						</li>
					</ul>
					<p>For more information on cookie management tools, you can consult the CNIL website:
						<a href="https://www.cnil.fr/fr/cookies-les-outilspour-les-maitriser">CNIL - Managing Cookies</a>.</p>
					<p>If you have any questions or require further information regarding this cookie policy, please contact us through our data controller contact form.</p>

					<h2>Contact the Data Controller</h2>
					<p>The information collected from this form with the field followed by an asterisk is necessary for processing your request. This information is transmitted exclusively to the JUST FOCUS association and is retained for a period not exceeding 24 months. In accordance with the Data Protection Act, you have the right to access, rectify, and oppose data concerning you, which you can exercise by sending a request through this form or by mail to the postal address mentioned in paragraph I. of our privacy and cookie policy.</p>

				</div>
			</div>
		</div>
	</div>
{% endblock %}

