DirectoryIndex index.php

<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

<IfModule mod_rewrite.c>
    Options +SymLinksIfOwnerMatch
    RewriteEngine On

    # Base de l'URL
    RewriteCond %{REQUEST_URI}::$0 ^(/.+)/(.*)::\2$
    RewriteRule .* - [E=BASE:%1]

    # Passer l'en-tête HTTP Authorization
    RewriteCond %{HTTP:Authorization} .+
    RewriteRule ^ - [E=HTTP_AUTHORIZATION:%0]

    # Redirection d'index.php vers une URL propre
    RewriteCond %{ENV:REDIRECT_STATUS} =""
    RewriteRule ^index\.php(?:/(.*)|$) %{ENV:BASE}/$1 [R=301,L]

    # Rediriger vers index.php si le fichier n'existe pas
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ %{ENV:BASE}/index.php [L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        RedirectMatch 307 ^/$ /index.php/
    </IfModule>
</IfModule>

# LiteSpeed Cache Configuration
<IfModule LiteSpeed>
    # Activer LSCache
    CacheLookup on

    # Exclure les fichiers statiques de LSCache
    RewriteCond %{REQUEST_URI} !\.(ico|css|js|png|jpg|jpeg|gif|bmp|svg)$ [NC]

    # Mettre en cache les pages Symfony dynamiques
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule .* - [E=Cache-Control:max-age=3600, public]
</IfModule>
