   
    <div class="breadcumb-wrapper">
        <div class="container">
            <ul class="breadcumb-menu">
                <li><a href="{{ path('app_home') }}">Home</a></li>
                <li>Blog Details</li>
            </ul>
        </div>
    </div> 