                    <div class="col-auto" itemprop="itemListElement" itemscope itemtype="http://schema.org/Article">
                        <a href="{{ path('app_articles', {
                            'slug': item.slug,
                            'souscategorie': item.categories[0].slug,
                            'categorie': item.categories[0].parent ? item.categories[0].parent.slug : 'no-category'
                        }) }}" class="breaking-news" itemprop="url">
                            <span itemprop="headline">{{ item.title }}</span>
                        </a>
                    </div>