			<div class="row th-carousel" id="blog-video-slide1" data-slide-show="3" data-lg-slide-show="3" data-md-slide-show="3" data-sm-slide-show="1" data-center-mode="true" data-xl-center-mode="true" data-ml-center-mode="true" data-lg-center-mode="true" data-md-center-mode="true" data-variable-width="true">
				<div class="col-auto video-center-mode">
					<div class="blog-style3">
						<div class="blog-img">
							<img src="{{ asset('assets/img/blog/video01.png') }}" alt="blog image">
							<a href="https://www.youtube.com/watch?v=j2s2tqfkP-E" class="play-btn popup-video">
								<i class="fas fa-play"></i>
							</a>
						</div>
						<div class="blog-content">
							<h3 class="box-title-30">
								<a class="hover-line" href="https://www.youtube.com/watch?v=j2s2tqfkP-E">Interview de Xavier Gens et Nassim Lyes pour la sortie de Farang</a>
							</h3>
							<div class="blog-meta">
								<a href="author.html">
									<i class="far fa-user"></i>Just Focus</a>
								<a href="blog.html">
									<i class="fal fa-calendar-days"></i>28 juin 2023</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-auto video-center-mode">
					<div class="blog-style3">
						<div class="blog-img">
							<img src="{{ asset('assets/img/blog/video02.png') }}" alt="blog image">
							<a href="https://www.youtube.com/watch?v=lr6D-D1-UyM" class="play-btn popup-video">
								<i class="fas fa-play"></i>
							</a>
						</div>
						<div class="blog-content">
							<h3 class="box-title-30">
								<a class="hover-line" href="http://superposestudio.squarespace.com/">Rencontre avec Superpose Studio
								</a>
							</h3>
							<div class="blog-meta">
								<a href="author.html">
									<i class="far fa-user"></i>Just Focus</a>
								<a href="blog.html">
									<i class="fal fa-calendar-days"></i>18 Mar, 2021</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-auto video-center-mode">
					<div class="blog-style3">
						<div class="blog-img">
							<img src="{{ asset('assets/img/blog/video03.png') }}" alt="blog image">
							<a href="https://www.youtube.com/watch?v=_lTQwhLvftU" class="play-btn popup-video">
								<i class="fas fa-play"></i>
							</a>
						</div>
						<div class="blog-content">
							<h3 class="box-title-30">
								<a class="hover-line" href="https://www.youtube.com/watch?v=_lTQwhLvftU">Interview du réalisateur d'Amel et les Fauves Mehdi Hmili</a>
							</h3>
							<div class="blog-meta">
								<a href="author.html">
									<i class="far fa-user"></i>Just Focus</a>
								<a href="blog.html">
									<i class="fal fa-calendar-days"></i>27 Mar, 2022</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-auto video-center-mode">
					<div class="blog-style3">
						<div class="blog-img">
							<img src="{{ asset('assets/img/blog/video04.png') }}" alt="blog image">
							<a href="https://www.youtube.com/watch?v=aI7hA60oiTo" class="play-btn popup-video">
								<i class="fas fa-play"></i>
							</a>
						</div>
						<div class="blog-content">
							<h3 class="box-title-30">
								<a class="hover-line" href="https://www.youtube.com/watch?v=aI7hA60oiTo">Interview exclusive de Marina KAYE</a>
							</h3>
							<div class="blog-meta">
								<a href="author.html">
									<i class="far fa-user"></i>Just Focus</a>
								<a href="blog.html">
									<i class="fal fa-calendar-days"></i>17 Mar, 2023</a>
							</div>
						</div>
					</div>
				</div>
			</div>